table{
    width:80%;
    height: 300px;
    margin-left:100px;
    margin-top: 10%;
    border-radius: 5px;
    border: 1px rgba(194, 41, 211, 0.56) ;
    
}
td{
    border-radius:5px;
    
    background-color:rgba(237, 235, 231, 0.315);
    box-shadow: 0 0 25px rgba(194, 41, 211, 0.56);
   
}
span{
    position: relative;
   left:130px;
}
